*{
    padding:0;
    margin: 0;
}

header{
    display:flex;
    justify-content: space-between;
    border:2px solid red;
    height:45px;
    align-items: center;
    font-size: x-large;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:2px solid blue;
    height: 40vh;
    justify-content: top;
    padding: 50px;
    width:50vw;
    text-align: center;
    margin: 0 auto;
}

