*{
    padding:0;
    margin: 0;
}

header{
    display:flex;
    justify-content: space-between;
    height:45px;
    font-size: x-large;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    width:50vw;
    margin: 0 auto;
    height:40vh;
    line-height: 25px;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

.starter-btn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.hide{
    display:none;
}

.start{
    text-align: center;
}